[xboxdrv]
silent=true
deadzone=6000
dpad-as-button=true
trigger-as-button=true

[ui-axismap]
x2=REL_X:15
	# Horizontal mouse movement with the right analog stick
y2=REL_Y:15
	# Vertical mouse movement with the right analog stick
x1=REL_HWHEEL:0.5
	# Horizontal scrolling with the left analog stick
y1=REL_WHEEL:-0.25
	# Vertical scrolling with the left analog stick

[ui-buttonmap]
a=KEY_ENTER
	# (A) on Controller as [Enter]
b=KEY_BACK
	# (B) on Controller as [Return]
x=KEY_BACKSPACE
	# (X) on Controller as [Backspace]
y=

[ui-buttonmap]
lb=KEY_ESC
	# Left shoulder button on Controller as [Escape]
rb=KEY_SPACE
	# Right shoulder button on Controller as [Space]

[ui-buttonmap]
lt=KEY_VOLUMEDOWN
rt=KEY_VOLUMEUP
	# Analog triggers as volume control

[ui-buttonmap]
dl=KEY_LEFT
dr=KEY_RIGHT
du=KEY_UP
dd=KEY_DOWN
	# D-Pad as usual arrow keys

[ui-buttonmap]
back=KEY_F14
guide=KEY_LEFTMETA
start=KEY_PLAYPAUSE

[ui-buttonmap]
tl=BTN_RIGHT
tr=BTN_LEFT

# EOF #
